body {
    font-family:"Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
}

.icon{
    width: 48px;
    height: 48px;
    fill: currentColor; /* цвет берется из текста родителя */
    display: block;
    margin: 0 auto 16px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

/*general settings*/

.header{
    height: 72px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
}

.header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:  space-between;
}

.main-nav, .nav-list, .contacts-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.list-item:not(:last-child){
    margin-right: 40px;
}

.list-address:not(:last-child){
    margin-right: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}

.logo span{
    color: #2e2f42;
}

.nav-list{
    list-style: none;
    font-weight: 500;
}

.list-item-nav{
    padding:24px 0;
    text-decoration:  none;
    color:  #2e2f42;
}

.list-item a:hover,
.list-item a:focus{
    color: #404bbf;
}

.address {
    font-style: normal;
}

.list-address a:hover,
.list-address a:focus{
    color: #404bbf;
}

/*Header section*/

.title-solutions{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}
.hero {
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 188px 0;
    background:url("/images/people-office.jpg") center center / cover no-repeat #2e2f42;
}

.hero .container{
    display:  flex;
    flex-direction: column;
    align-items:  center;
    gap: 48px;
    flex-wrap: wrap;
}

.order-service {
    display: block;
    min-width: 169px;
    /* Visual */
    cursor: pointer;
    border-radius: 4px;
    padding-block: 16px;
    padding-inline: 32px;
    height: 56px;
    /* Typography */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    /* styles   */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
}

.order-service:hover,
.order-service:focus {
    background-color: #404BBF;
}

/*      HERO SECTION        */

.benefits{
    /*height: 344px;*/
    padding:120px 0;
}

.section-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.benefits .container{
    height: 100%;
}
.benefits .benefits-list {
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}
.benefits-item{
   /*width: calc((100% - 72px) / 4);*/
}

/*BENEFITS SECTION*/

.studio {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.section-title{
    margin-bottom: 72px;
}


.our-team-list{
    /*flex-layout*/
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    /*styles*/
    list-style: none;
    text-align: center;
}

.team-text{
    padding: 32px 0;
}

.our-team-item{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    border-radius: 0 0 4px 4px;
}

/*TEAM SECTION*/

.portfolio{
    /*height: 1240px;*/
    padding: 120px 0;
}
.our-portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
    list-style: none;
}

.our-portfolio-item{
    /*flex-basis: calc((100% - 48px) / 3);*/
    overflow: hidden;
}

.portfolio-text {
    padding-block: 32px;
    padding-inline: 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/*    PORTFOLIO SECTION   */

#footer {
    padding: 100px 0;
    background-color:  #2e2f42;
}

.logo-footer{
    display: inline-block;
    margin-bottom: 16px;

}
.footer-item{
    max-width: 264px;
    color: #f4f4fd;
}

#footer .logo span{
    color: #f4f4fd;
}
