body {
    font-family:"Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
}

.icon{
    width: 48px;
    height: 48px;
    fill: currentColor; /* цвет берется из текста родителя */
    display: block;
    margin: 0 auto 16px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

/*general settings*/

.header{
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content:  space-between;
}

.main-nav, .nav-list, .contacts-header {
    display: flex;
    align-items: center;
    justify-content:  center;
    flex-wrap: wrap;
}

.list-item:not(:last-child){
    margin-right: 40px;
}

.list-address:not(:last-child){
    margin-right: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}

.logo span{
    color: #2e2f42;
}

.nav-list{
    list-style: none;
    font-weight: 500;
}

.list-item .current{
    color: #404bbf;
}
.list-item-nav , .contact{
    padding:24px 0;
    text-decoration:  none;
    color:  #2e2f42;
}

.list-item a{
    display: block;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item a:hover,
.list-item a:focus{
    color: #404bbf;

}

.list-item .current::after{
    display: block;
    content: "";
    width: 100%;
    position: absolute;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.address {
    font-style: normal;
}

.list-address a{
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-address a:hover,
.list-address a:focus{
    color: #404bbf;
}

/*Header section*/

.title-solutions{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;

}
.hero {
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/people-office.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero .container{
    display:  flex;
    flex-direction: column;
    align-items:  center;
    gap: 48px;
    flex-wrap: wrap;
}

.order-service {
    display: block;
    min-width: 169px;
    /* Visual */
    cursor: pointer;
    border-radius: 4px;
    padding-block: 16px;
    padding-inline: 32px;
    height: 56px;
    /* Typography */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    /* styles   */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service:hover,
.order-service:focus {
    background-color: #404BBF;
}

/*      HERO SECTION        */

.benefits{
    /*height: 344px;*/
    padding:120px 0;
}

.section-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.benefits .benefits-list {
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
}
.benefits-svg{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

.icon-benefits{
    fill: #2e2f42;
}

.benefits-item{
    width: calc((100% - 72px) / 4);
}

/*BENEFITS SECTION*/

.studio {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.section-title{
    margin-bottom: 72px;
}


.our-team-list{
    /*flex-layout*/
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    /*styles*/
    list-style: none;
    text-align: center;
}

.team-text{
    padding: 32px 0;
}

.social-list{
    display:  flex;
    align-items:  center;
    justify-content: center;
    gap:24px;
}

.social-icon-link{
    display: flex;
    align-items: center;
    justify-content:  center;
    border-radius: 50%;
    overflow: hidden;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
}

.icon-social{
    fill: #f4f4fd;
}

.section-list-item{
    padding: 8px 0;
}

.social-icon-link:hover,
.social-icon-link:focus{
    background-color: #404bbf;
}



.our-team-item{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    border-radius: 0 0 4px 4px;
}

/*TEAM SECTION*/

.portfolio{
    /*height: 1240px;*/
    padding: 120px 0;
}

.our-portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
    list-style: none;
}

.our-portfolio-item{
    /*flex-basis: calc((100% - 48px) / 3);*/
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text {
    padding-block: 32px;
    padding-inline: 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-overlay{
    position: relative;
    overflow: hidden;
}

.overlay-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    color: #f4f4fd;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-item:hover .overlay-text{
    transform: translateY(0);
    cursor:pointer;
}
.our-portfolio-item:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


/*    PORTFOLIO SECTION   */

#footer {
    padding: 100px 0;
    background-color:  #2e2f42;
}
.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-content{
    margin-right: 120px
}
.social-list-dark{
    gap: 16px;
}

.social-footer-tittle{
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom:  16px;
}
.logo-footer{
    display: inline-block;
    margin-bottom: 16px;

}
.footer-item{
    max-width: 264px;
    color: #f4f4fd;
}

#footer .logo span{
    color: #f4f4fd;
}

.social-icon-link-dark:hover,
.social-icon-link-dark:focus{
    background-color: #31d0aa;
}
